<div class="container mt-2">
    <h1 class="heading text-center">Story of our Restaurant</h1>
    <p class='lead text-center mt-4'>Quaerat debitis, vel, sapiente dicta sequi<br>
        labore porro pariatur harum expedita.</p>
</div>

<div class="arc"></div>
<div class="sec1 bg-white text-dark">
    <div class="row g-0 border-0">
        <!-- <div class="col-12 col-md-6 align-self-center">
            <div class="p-3">
                <img src="https://res.cloudinary.com/dxnxpimpv/image/upload/v1626494908/shawnanggg-nmpW_WwwVSc-unsplash_qp1y5o.jpg"
                    class="img-responsive w-100 rounded" alt="">
            </div>
        </div> -->
        <div class="col-12 text-center">
            <div class="p-3">
                <div id="line" class="mx-auto"></div>
                <p class="fw-bold" id="hello">ABOUT US</p>
                <h1 class="heading">We invite you to<br>
                    visit our restaurant</h1>
                <p class="lead">Assumenda possimus eaque illo iste, autem. Porro eveniet, autem ipsam vitae amet
                    repellat repudiandae tenetur, quod corrupti consectetur cum? Repudiandae dignissimos fugiat sit nam.
                    Tempore aspernatur quae repudiandae dolorem, beatae dolorum, praesentium itaque et quam quaerat.
                    Cumque, consequatur!</p>
                <button class="buttoncommon" routerLink="menu">Read More</button>
            </div>
        </div>
    </div>

    <hr>
    <div class="text-center">
        <div id="line" class="mx-auto"></div>
        <p class="fw-bold" id="hello">FEATURES</p>
        <h1 class="heading pt-2 pb-2">Why people choose us?
        </h1>
        <p class="lead pb-3">Porro eveniet, autem ipsam vitae consequatur! </p>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 text-center">
            <img src="https://res.cloudinary.com/dxnxpimpv/image/upload/v1626498642/1_wtemoh.svg" alt=""
                class="img-fluid w-25 d-block mx-auto">
            <h1 class="heading">Menu for every taste
            </h1>
            <p>Dolor sit amet, consectetur adipisicing elit et molestias possimus
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center">
            <img src="https://res.cloudinary.com/dxnxpimpv/image/upload/v1626498744/2_gqvcgs.svg" alt=""
                class="img-fluid w-25 d-block mx-auto">
            <h1 class="heading">Always fresh ingredients
            </h1>
            <p>Assumenda possimus eaque illo iste, autem. Porro eveniet autem
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center">
            <img src="https://res.cloudinary.com/dxnxpimpv/image/upload/v1626498789/3_dram2j.svg" alt=""
                class="img-fluid w-25 d-block mx-auto">
            <h1 class="heading">Experienced chefs
            </h1>
            <p>Rolorem, beatae dolorum, praesentium itaque et quam quaerat
            </p>
        </div>
    </div>
    <div class="row shadow-lg mt-2">
        <div class="col-12 col-md-8">
            <div class="p-3">
                <div class="text-overlay pt-5 ps-2 pb-5">
                    <div id="line" class=""></div>
                    <p class="fw-bold text-start" id="hello">ABOUT US</p>
                    <h1 class="heading ">Working Hours
                    </h1>
                    <p class="lead pb-5">Rolorem, beatae dolorum, praesentium itaque et quam quaerat.
                    </p>
                    <button class="buttoncommon" routerLink="reservations">RESERVATION</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 align-self-center text-center">
            <h3 class="heading">SUNDAY TO TUESDAY
            </h3>
            <h1>09:00</h1>
            <h1>22:00</h1>
            <h3 class="heading">FRIDAY TO SATURDAY
            </h3>
            <h1>11:00</h1>
            <h1>19:00</h1>
        </div>
    </div>

    <div class="row chefs text-center">
        <div class="text-center pt-5">
            <div id="line" class="mx-auto"></div>
            <p class="fw-bold" id="hello">TEAM</p>
            <h1 class="heading">They are ready to treat you </h1>
            <p class="lead">Porro eveniet, autem ipsam corrupti consectetur cum.<br>
                Repudiandae dignissimos fugiat sit nam.</p>
        </div>
        <div class="col-12 col-sm-4 shadow-lg">
            <div class="p-2 text-center">
                <img src="https://elanta.app/nazar/tastyc-demo/img/faces/c1.jpg" alt="" class="w-100 img-fluid">
                <h1 class="heading">Oscar Oldman</h1>
                <p class="lead">Master-Chef</p>
            </div>
        </div>
        <div class="col-12 col-sm-4 shadow-lg">
            <div class="p-2">
                <img src="https://elanta.app/nazar/tastyc-demo/img/faces/c2.jpg" alt="" class="w-100 img-fluid">
                <h1 class="heading">Emma Newman</h1>
                <p class="lead">Master-Chef</p>
            </div>
        </div>
        <div class="col-12 col-sm-4 shadow-lg">
            <div class="p-2">
                <img src="https://elanta.app/nazar/tastyc-demo/img/faces/c1.jpg" id="img3" alt="" class="w-100 img-fluid">
                <h1 class="heading">Paul Trueman</h1>
                <p class="lead">Master-Chef</p>
            </div>
        </div>
    </div>
</div>