#imgbox {
  background: url("http://images.unsplash.com/photo-1414235077428-338989a2e8c0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjIzMzc0MTg0&ixlib=rb-1.2.1&q=80&w=1080");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 35rem;
  position: relative;
}

.arc {
  margin-top: 20px !important;
  width: 100px;
  height: 50px;
  background-color: white;
  margin: auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

@media screen and (max-width: 490px) {
 

  .arc {
    width: 80px;
    height: 40px;
    background-color: white;
    margin: auto;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

}


.sec1{
  width: 95%;
  background-color: white;
  margin: auto;
}
#txtoverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 100%;
}

.booktable {
  background-color: rgb(69, 173, 139);
  border: none;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
input{
    border:1px solid black;
    padding: 10px;
}