
<div>
    <h1 class="heading ps-2">Our Menu</h1>
    <div id="menu_items">
        <div *ngFor="let section of menu,let secnumber=index">
            <button class="btn w-100 text-start" [ngClass]="{'active':isClicked[secnumber]}" id="menubtns"
                (click)="displayMenu(secnumber)">{{section.section_name}}
                <i class="fas fa-chevron-down float-end" *ngIf="menuDisplay && secnumber==menuIndex"></i>
                <i class="fas fa-chevron-up float-end" *ngIf="!menuDisplay || secnumber!=menuIndex"></i>
            </button>
            <div *ngIf="menuDisplay && secnumber==menuIndex" class="container pt-1" id="menusec">
                <div *ngFor="let items of menu[menuIndex].menu_items">
                    <div class="row g-0">
                        <div class="col-9">
                            <h5>{{items.name}}</h5>
                            <h6 *ngIf="items.description.length==0" class="text-muted">.....</h6>
                            <h6 *ngIf="items.description.length!=0" class="text-muted">{{items.description}}</h6>
                        </div>
                        <div class="col-3 align-self-center">
                            <div *ngIf="!filterItems(items.name)" class="float-end">
                                <button class="cart d-inline" (click)="addToCart(items.price,items.name)" id="pricebox">$
                                    {{converttoFloat(items.price)}}</button>
                            </div>
                            <div *ngIf="filterItems(items.name)" class="float-end">
                                <button (click)="addToCart(items.price,items.name)"  id="plus">+</button>
                                <button id="addtocart">{{countItem(items.name,items.price)}}</button>
                                <button (click)="deleteFromCart(items.price,items.name)" id="minus">-</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>


</div>