.active {
  background: #05386B;
  font-weight: bold;
  color: white;
  padding:10px;
}
#menubtns{
  color: white;
  font-size: larger;
}

.cart{
  background-color: rgb(69, 173, 139);
  border: none;
  border-radius: 5px;
}
#addtocart{
  background-color: rgb(69, 173, 139) !important;
  border: none;
}

#plus{
  background-color: rgb(69, 173, 139) !important;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#minus{
  background-color: rgb(69, 173, 139) !important;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}