/* You can add global styles to this file, and also import other style files */
body {
  outline: none !important;
  box-shadow: none !important;
  appearance: none;
  background-color: rgb(24, 23, 23);
  color: white !important;
}

.buttoncommon {
    background-color: rgb(69, 173, 139);
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
button {
  outline: none !important;
  box-shadow: none !important;
}

input {
  outline: none !important;
  box-shadow: none !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
