<!-- Carousel -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dxnxpimpv/image/upload/v1626494488/767344_rhrplu.jpg"
                class="d-block w-100" alt="...">
            <div class="carousel-caption  d-md-block text-start">
                <div id="line"></div>
                <p class="fw-bold text-start" id="hello">HELLO, NEW FRIEND!</p>
                <h1 class="headings text-start">Visit to Our<br> Online Shop</h1>
                <h3 class="text-start">Best in class food items in the locality</h3>
                <button class="buttoncommon" routerLink="ordernow">Place Order Now</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/dxnxpimpv/image/upload/v1626494342/767283_dpooil.jpg"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block  text-start">
                <h1 class="headings text-start">Reserve Your<br> Table Today</h1>
                <h3 class="text-start">Best in class food items in the locality</h3>
                <button class="buttoncommon" routerLink="reservations">Reserve Now</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/dxnxpimpv/image/upload/v1626447226/826919_vowpec.jpg"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block text-start">
                <h1 class="headings text-start">Welcome<br> to Silver Spurs</h1>
                <h3 class="text-start">Best in class food items in the locality</h3>
                <button class="buttoncommon" routerLink="menu">Explore Menu</button>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="arc"></div>
<div class="sec1 bg-white text-dark">
    <div class="row g-0 border-0">
        <div class="col-12 col-md-6 align-self-center">
            <div class="p-3">
                <img src="https://res.cloudinary.com/dxnxpimpv/image/upload/v1626494908/shawnanggg-nmpW_WwwVSc-unsplash_qp1y5o.jpg"
                    class="img-responsive w-100 rounded" alt="">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="p-3">
                <div id="line"></div>
                <p class="fw-bold text-start" id="hello">ABOUT US</p>
                <h1 class="heading">We invite you to<br>
                    visit our restaurant</h1>
                <p class="lead">Assumenda possimus eaque illo iste, autem. Porro eveniet, autem ipsam vitae amet
                    repellat repudiandae tenetur, quod corrupti consectetur cum? Repudiandae dignissimos fugiat sit nam.
                    Tempore aspernatur quae repudiandae dolorem, beatae dolorum, praesentium itaque et quam quaerat.
                    Cumque, consequatur!</p>
                <button class="buttoncommon" routerLink="menu">Read More</button>
            </div>
        </div>
    </div>

    <hr>
    <div class="text-center">
        <div id="line" class="mx-auto"></div>
        <p class="fw-bold" id="hello">FEATURES</p>
        <h1 class="heading pt-2 pb-2">Why people choose us?
        </h1>
        <p class="lead pb-3">Porro eveniet, autem ipsam vitae consequatur! </p>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 text-center">
            <img src="https://res.cloudinary.com/dxnxpimpv/image/upload/v1626498642/1_wtemoh.svg" alt=""
                class="img-fluid w-25 d-block mx-auto">
            <h1 class="heading">Menu for every taste
            </h1>
            <p>Dolor sit amet, consectetur adipisicing elit et molestias possimus
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center">
            <img src="https://res.cloudinary.com/dxnxpimpv/image/upload/v1626498744/2_gqvcgs.svg" alt=""
                class="img-fluid w-25 d-block mx-auto">
            <h1 class="heading">Always fresh ingredients
            </h1>
            <p>Assumenda possimus eaque illo iste, autem. Porro eveniet autem
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center">
            <img src="https://res.cloudinary.com/dxnxpimpv/image/upload/v1626498789/3_dram2j.svg" alt=""
                class="img-fluid w-25 d-block mx-auto">
            <h1 class="heading">Experienced chefs
            </h1>
            <p>Rolorem, beatae dolorum, praesentium itaque et quam quaerat
            </p>
        </div>
    </div>
    <div class="row shadow-lg mt-2">
        <div class="col-12 col-md-8">
            <div class="p-3">
                <div class="text-overlay pt-5 ps-2 pb-5">
                    <div id="line" class=""></div>
                    <p class="fw-bold text-start" id="hello">ABOUT US</p>
                    <h1 class="heading ">Working Hours
                    </h1>
                    <p class="lead pb-5">Rolorem, beatae dolorum, praesentium itaque et quam quaerat.
                    </p>
                    <button class="buttoncommon" routerLink="reservations">RESERVATION</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 align-self-center text-center">
            <h3 class="heading">SUNDAY TO TUESDAY
            </h3>
            <h1>09:00</h1>
            <h1>22:00</h1>

            <h3 class="heading">FRIDAY TO SATURDAY
            </h3>
            <h1>11:00</h1>
            <h1>19:00</h1>
        </div>
    </div>
</div>

