<div class="container mt-4" id="form">
    <form #ref="ngForm" (ngSubmit)="onUserSubmit(ref.value,ref)"  autocomplete="off"    >
        <h1 class="heading text-center pt-3 pb-3">Register</h1>
        <div class="mb-3 form-floating" id="firstname">
            <input type="text"  class="form-control" autocomplete="off" name="firstname" ngModel placeholder="namefirst">
            <label for="firstname">First Name</label>
        </div>
        <div class="mb-3 form-floating" id="lastname">
            <input type="text"  name="lastname" class="form-control" autocomplete="reg" placeholder="lastname" ngModel>
            <label for="lastname">Last Name</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="email" id="email" name="email"  autocomplete="off" class="form-control" placeholder="Email" ngModel>
            <label for="email">Email address</label>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3 form-floating">
            <input type="text" class="form-control"  autocomplete="off" id="username" name="username" placeholder="username" ngModel>
            <label for="lastname">Username</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                placeholder="password" ngModel>
            <label for="exampleInputPassword1">Password</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="date" class="form-control" id="dob" name="dob" placeholder="dov" ngModel>
            <label for="dob">Date Of Birth</label>
        </div>
        
        <p>Choose a picture for profile photo</p>
        <input type="file" name="photo" id="fileinput" class="mb-3" (change)="onPhotoUpload($event)" ngModel>
        <div class="text-end mb-3">
            <button type="submit" class="mb-3" id="registerbtn">Register Now</button>
        </div>
    </form>
</div>